.skillsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.progrLeng{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    
}

.js,  .css3, .react, .wordpress, .node, .redux,.mongodb, .nodejs, .postgresql, .reactNative {
    font-size: 40px;
    cursor: pointer; 
    width: 40px;
}

.jsSelected,  .css3Selected, .reactSelected, .wordpressSelected, .postgresqlSelected, .mongodbSelected, .reactNativeSelected{
    font-size: 40px;
    width: 40px;
    transform: scale(1.2);
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(8, 137, 141); 
}
.nodeSelected,.reduxSelected,.nodejsSelected{
    font-size: 37px;
    transform: scale(1.1);
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(8, 137, 141); 
}
.spanSkill{
    font-size: 18px;
}

.fa-star{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}