
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');

.sidebarContainer{
    width: 100%;
    height: 400px;
    background-color: rgb(253, 253, 253);
    color: black;
    margin-bottom: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.sideInfoContainer{
    width: 50%;
    padding: 20px;
    border: 1px solid lightblue;
    border-left-color: transparent;
    border-right-color: transparent;
    height: auto;
}

.sideMenuContainer{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 15%; 
}

.sectionSpan{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 15px;
    border: 1px solid rgb(8, 137, 141);
    
}
.sectionSpan:hover{
    cursor: pointer;
}
.educacion, .skills{
    text-align: center;
    color: rgb(253, 253, 253);
    padding: 15px;
    background: radial-gradient(rgb(9, 66, 88), rgb(8, 137, 141)) ; ;
    transition: all 0.3s ease-out;
    
    transform: scale(1.08);
    
}
.educationP{
    font-family: 'Noto Sans Display', sans-serif;
}

.mystackP{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 17px;
}
.idiomasLevel{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.span{
    margin-right: 25px;
    font-weight: 400;
    font-family: 'Noto Sans Display', sans-serif;
    
}
.botonesContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 4px;
    margin-top: -20px;
    
    
}
.front, .back, .other{
    text-align: center;
    cursor: pointer;
    width: 33%;  
    padding: 10px 0 10px 0;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(9, 66, 88);
    border-top-color: transparent;
}
.back{
    border-left-width: 0px;
    border-right-width: 0px;
}
.frontSelected, .backSelected, .otherSelected{
    text-align: center;
    width: 33%;  
    padding: 10px 0 10px 0;
    background: linear-gradient(white,rgb(117, 117, 117));
    transition: all 0.3s ease-out;
}


@media screen and (max-width: 960px){
    .sidebarContainer{
        flex-direction: column;
        height: 500px;
    }
    .sideInfoContainer{
        width: 100%;
        padding: 20px;
        border: 1px solid lightblue;
        border-left-color: transparent;
        border-right-color: transparent;
        height: auto;
        margin-top: 20px;
    }
    
    .sideMenuContainer{
        display: flex;
        flex-direction: row;
        width: 100;
        justify-content: center;
        margin-left: 0px;
        margin-top: 15px;
    }
    .sectionSpan{
        text-align: center;
        align-self: center;
        color: rgb(2, 2, 2);
        padding: 5px;
        background: white;
        border: 1px solid rgb(8, 137, 141);
        transition: all 0.3s ease-out;
        
    }
    .educacion, .skills, .jobexp{
        text-align: center;
        color: rgb(253, 253, 253);
        padding: 5px;
        background: radial-gradient(rgb(9, 66, 88), rgb(8, 137, 141)) ; ;
        transition: all 0.3s ease-out;
        border-radius: 5px;
        align-self: center;
        transform: scale(1.1);
        
    }
    .idiomasLevel{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    }
    .banderaLevel{
        display: flex;
        flex-direction: row;
    }
    .botonesContainer{
        margin-left: 1px;
    }
    

}